<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="client-list">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">Clients</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <button class="btn btn-sm btn-outline-secondary">Share</button>
                <button class="btn btn-sm btn-outline-secondary">Export</button>
            </div>
            <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
                <span data-feather="calendar"></span>
                Recent
            </button>
        </div>
    </div>

    <div id="clientList" class="table-responsive" th:fragment="client-list-internal">
        <table class="table table-sm">
            <thead>
            <tr>
                <th><a th:href th:onclick="${'loadClients(''id''); return false;'}">#</a></th>
                <th><a th:href th:onclick="${'loadClients(''firstname''); return false;'}">First</a></th>
                <th><a th:href th:onclick="${'loadClients(''lastname''); return false;'}">Last</a></th>
                <th><a th:href th:onclick="${'loadClients(''contactname''); return false;'}">Contact</a></th>
                <th><a th:href th:onclick="${'loadClients(''timezone''); return false;'}">Timezone</a></th>
                <th><a th:href th:onclick="${'loadClients(''solicited''); return false;'}">Solicited</a></th>
                <th><a th:href th:onclick="${'loadClients(''numappts''); return false;'}"># Appointments</a></th>
                <th><a th:href th:onclick="${'loadClients(''revenue''); return false;'}">Revenue</a></th>
                <th><a th:href th:onclick="${'loadClients(''lastapptdate''); return false;'}">Last Appointment</a></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="customer: ${clients}">
                <td style="align:left;" th:text="${customer.id}"></td>
                <td><a th:href="@{/client/{customerId}.html(customerId=${customer.Id})}" th:text="${customer.firstName}"></a></td>
                <td th:text="${customer.lastName}"></td>
                <td th:text="${customer.contactName}"></td>
                <td th:text="${customer.timezone}"></td>
                <td><input type="checkbox" th:checked="${customer.solicited}" disabled="true"></td>
                <td><a th:href="@{/appointments/{customerId}.html(customerId=${customer.id})}" th:text="${customer.numappts}"></a></td>
                <td th:text="${#numbers.formatCurrency(customer.revenue)}"></td>
                <td th:text="${#dates.format(customer.lastApptDate, 'yyyy-MM-dd')}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>