<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<body>
    <div th:fragment="graph">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">Revenue by Topic</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <button class="btn btn-sm btn-outline-secondary">Share</button>
                <button class="btn btn-sm btn-outline-secondary">Export</button>
            </div>
            <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
                <span data-feather="calendar"></span>
                Recent
            </button>
        </div>
    </div>

    <a class="btn btn-primary ml-2" th:href="@{/graphs/revenue-by-topic.html}" role="button">All</a>
    <a th:each="yearWithRevenue: ${yearsWithRevenue}" class="btn btn-primary ml-2" th:onclick="'loadRevenueByTopicYear(' + ${yearWithRevenue} + ')'" role="button">
        <span th:text="${yearWithRevenue}"></span>
    </a>

    <div style="width:800px;height:500px">
            <canvas id="myChart"></canvas>
            <script type="text/javascript">
                let ctx = document.getElementById('myChart').getContext('2d');
                var myChart = new Chart(ctx, {
                    type: 'pie',
                    data: {
                        labels: [(${labels})],
                        datasets: [{
                            label: 'Revenue by Topic',
                            data: [(${data})]
                        }]
                    },
                    options: {
                        responsive: true,
                        legend: {
                            display: true,
                            position: 'left'
                        }
                    }
                });
                </script>
        </div>
    </div>
    </body>
</html>